@counter-style custom {
  system: cyclic;
  symbols: "\00003E";
  suffix: " ";
}

:root {
  font-size: 16pt;
  font-family: var(--font), monospace;

  --font: "Cascadia Code";
  --bg: #282828;
  --bg-light: #3c3836;

  --placeholder: #928374;
  --text: #ebdbb2;

  --red: #cc241d;
  --red-light: #fb4934;
  --blue: #458588;
  --blue-light: #83a598;
  --aqua: #689d6a;
  --aqua-light: #8ec07c;
  --green: #98971a;
  --green-light: #b8bb26;
  --orange: #d65d0e;
  --orange-light: #fe8019;
  --purple: #b16286;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;

  line-height: 1.4;
  letter-spacing: 0;
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);
  &:hover {
    text-decoration: underline; /* unsure */
  }
}

*::selection {
  color: var(--bg);
  background-color: var(--orange-light);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2ch;
}

#nav {
  display: flex;
  font-size: 1rem;
  column-gap: 1ch;
  background-color: var(--bg);
  border: 0.25ch solid var(--bg-light);
  border-radius: 0.5ch;
  padding: 1ch;

  section {
    padding: 0 1ch;
    &:nth-of-type(5n + 1) {
      color: var(--red);
      a:hover {
        color: var(--red-light);
      }
    }
    &:nth-of-type(5n + 2) {
      color: var(--blue);
      a:hover {
        color: var(--blue-light);
      }
    }
    &:nth-of-type(5n + 3) {
      color: var(--green);
      a:hover {
        color: var(--green-light);
      }
    }
    &:nth-of-type(5n + 4) {
      color: var(--orange);
      a:hover {
        color: var(--orange-light);
      }
    }
    &:nth-of-type(5n + 5) {
      color: var(--aqua);
      a:hover {
        color: var(--aqua-light);
      }
    }
  }

  h2 {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    /* text-indent: 1ch; */
  }

  ul {
    list-style: custom;
    list-style-position: inside;
    margin-top: 1ch;
    margin-bottom: 0;
    padding: 0;
  }
}

#clock {
  text-align: center;
  font-size: 3rem;
}

#searchbox {
  font-family: inherit;
  font-size: 0.95rem;
  background-color: var(--bg-light);
  color: var(--text);
  width: 60vw;

  box-sizing: border-box;
  width: 100%;
  padding: 0.5ch 1ch;
  margin: 0.5ch 0;

  border: none;
  border-radius: 0.5ch;

  opacity: 0.9;
  filter: brightness(0.9);

  &:focus {
    outline: none;

    opacity: 1;
    filter: none;
  }

  &::placeholder {
    color: var(--placeholder);
  }
}
