@counter-style custom {
  system: cyclic;
  symbols: "\00003E";
  suffix: " ";
}

:root {
  font-size: 16pt;
  font-family: monospace;

  --bg: #32302f;
  --bg-dark: #282828;
  --bg-light: #3c3836;

  --border: #bdae93;
  --placeholder: #928374;
  --text: #ebdbb2;

  --red: #cc241d;
  --red-light: #fb4934;
  --blue: #458588;
  --blue-light: #83a598;
  --aqua: #689d6a;
  --aqua-light: #8ec07c;
  --green: #98971a;
  --green-light: #b8bb26;
  --orange: #d65d0e;
  --orange-light: #fe8019;
  --purple: #b16286;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;

  background-color: var(--bg-dark);
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);
}

input {
  background-color: var(--bg-light);
  color: var(--text);
  font-size: 0.8rem;

  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 0;
  margin: 0.5em 0;

  border: none;
  border-radius: 1vmin;
  text-indent: 1em;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--placeholder);
  }
}

nav {
  display: flex;
  background-color: var(--bg);
  padding: 1em;

  section {
    padding: 0 1em;
    &:nth-of-type(5n + 1) {
      color: var(--red);
      a:hover {
        color: var(--red-light);
      }
    }
    &:nth-of-type(5n + 2) {
      color: var(--blue);
      a:hover {
        color: var(--blue-light);
      }
    }
    &:nth-of-type(5n + 3) {
      color: var(--green);
      a:hover {
        color: var(--green-light);
      }
    }
    &:nth-of-type(5n + 4) {
      color: var(--orange);
      a:hover {
        color: var(--orange-light);
      }
    }
    &:nth-of-type(5n + 5) {
      color: var(--aqua);
      a:hover {
        color: var(--aqua-light);
      }
    }
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }

  ul {
    list-style: custom inside;
    margin: 1em 0 0 0;
    padding: 0;
  }
}

.border-common {
  border: 3px solid var(--border);
  border-radius: 1vmin;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#clock {
  text-align: center;
  font-size: 3rem;
}
