@counter-style custom {
  system: cyclic;
  symbols: "\00003E";
  suffix: " ";
}

:root {
  font-size: 20pt;
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1;

  --bg: hsl(335, 16%, 12%);
  --bg-input: hsl(335, 16%, 22%);
  --border: beige;
  --text: beige;
  --text-highlight: var(--text);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

[contenteditable="true"]:focus {
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;

  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);

  &:hover {
    color: var(--text-highlight);
  }
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 0;
  margin: 0;
}

.main {
  border: 4px solid var(--border);
  border-radius: 2vmin;
  padding: 0.8em;
}

.clock {
  /* text-indent: 0.2em; */
  text-align: center;
  font-size: 3rem;
}

.nav {
  display: flex;

  section {
    padding: 0 2em;
  }

  h2 {
    text-align: center;
    margin: 0.5em 0 0.2em;
  }

  ul {
    list-style: custom inside;
    margin: 0.5em 0;
    padding: 0;
  }
}

#searchbox {
  background-color: var(--bg-input);
  color: var(--text);
  border: none;
  border-radius: 3vmin;
  text-indent: 1em;
  font-size: 0.5rem;
  margin: 0.5em 0;

  &:focus {
    outline: none;
  }
}
